
<form class="usernameForm">
  <h1 class="pageTitle">{{title}}</h1>
  <p class="pageSubtitle">Enter your name below to join {{title}}</p>
  <div class="joinChatForm">
    <input id="usernameInput" placeholder="Username"></input>
  <button id="createUserBtn">Join</button>
  </div>
</form>

<div class="mainContainer">
  <div class="leftPane">
    <h1 class="brand">{{title}}</h1>
    <div class="channels">
        <h2 class="channelsLabel">Channels</h2>
        <div class="channel currentChannel"># general</div>
        <div class="newChannelForm">
          <input id="newChannelInput" placeholder="New Channel Name" />
          <button id="newChannelBtn"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="usersOnlineContainer">
      <h2 class="usersOnlineTitle">Online Users</h2>
      <div class="usersOnline"></div>
    </div>
    
  </div>
  <div class="rightPane">
    <div class="rightPaneFluid">
      <div class="messageContainer">
          <h2>Messages</h2>
      </div>
      <div class="textChatDivide"></div>
      <div class="chatBox"><textarea id="chatInput" placeholder="Type a message"></textarea><button class="btn" id="sendChatBtn">Send</button></div>
    </div>
  </div>
</div>